@import '../../assets/scss/utils/_module';

.companies-form {
    &__privacy {
        margin-top: 36px;
        padding: 0 27px 0 18px;
    }

    .ant-row.ant-form-item .ant-form-item-control {
        margin-top: 0;
    }

    .ant-form__buttons {
        margin-top: 56px;
    }
}

@media (max-width: $media-lg) {
    .companies-form {
        &__privacy {
            padding: 0 0 0 18px;
        }
    }
}