/*colors*/
$main-color: #19A98A;
$black: #3F3F3F;
$purple: #6D56BA;

$main-gradient: linear-gradient(167.98deg, #19A98A 30.82%, #007240 264.91%);

// font
$fontMontserrat: 'Montserratarm';
$baseFontFamily: $fontMontserrat, Arial, sans-serif;

/*grid dimensions*/
$mediaXxxlLarge: 1537px;
$mediaXxlLarge: 1441px;
$mediaXlLarge: 1367px;
$mediaLarge: 1024px;
$mediaMedium: 768px;

/*font settings*/
$baseFontSize : 16;

/*screenSises*/
$media-xxl: 1536px;
$media-xl: 1440px;
$media-lg: 1366px;
$media-md: 1023px;
$media-sm: 767px;
$media-xs: 450px;


